<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

<body>

  <% if(userId){ %>

      <h1>🥔 Welcome to Spud Spotters! 🥔</h1>
      <ul>
        <% for(let map of data) { %>
          <tr>
            <td> <a href="/maps/<%= map.id %>/map"><%= map.title %></a> </td>
            <td>
              <form id="fav-btn" action="/maps/<%= map.id %>" method="POST">
                <button class="standard-button" type="submit">FAVOURITE</button>
              </form>
          </td>
          </tr>
          <br>
        <% } %>
      </ul>

    <% } else{ %>

      <h1>🥔 Welcome to Spud Spotters! 🥔</h1>
      <ul>
        <% for(let map of data) { %>
          <tr>
            <td><a href="/maps/<%= map.id %>/map"><%= map.title %></a></td>
          </tr>
          <br>
        <% } %>
      </ul>
      <% } %>
</body>

</html>
